// Name:            Padding
// Description:     Utilities for padding
//
// Component:       `uk-padding`
//                  `uk-padding-large`
//                  `uk-padding-remove-*`
//
// ========================================================================

// Variables
// ========================================================================

/* ========================================================================
   Component: Padding
 ========================================================================== */

.uk-padding {
    padding: $padding-padding;
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .uk-padding {
        padding: $padding-padding-l;
    }

}

/* Small
 ========================================================================== */

.uk-padding-small {
    padding: $padding-small-padding;
}

.uk-padding-xsmall {
    padding: $padding-xsmall-padding;
}

.uk-padding-medium {
    padding: $padding-medium-padding;
}

.uk-padding-xsmall-horizontal {
    padding-right: $padding-xsmall-padding;
    padding-left: $padding-xsmall-padding;
}

.uk-padding-small-horizontal {
    padding-right: $padding-small-padding;
    padding-left: $padding-small-padding;
}

.uk-padding-medium-horizontal {
    padding-right: $padding-medium-padding;
    padding-left: $padding-medium-padding;
}

.uk-padding-small-bottom {
    padding-bottom: $padding-small-padding;
}

.uk-padding-small-left {
    padding-left: $padding-small-padding;
}

.uk-padding-small-right {
    padding-right: $padding-small-padding;
}

.uk-padding-small-top {
    padding-top: $padding-small-padding;
}

.uk-padding-xsmall-bottom {
    padding-bottom: $padding-xsmall-padding;
}

.uk-padding-xsmall-left {
    padding-left: $padding-xsmall-padding;
}

.uk-padding-xsmall-right {
    padding-right: $padding-xsmall-padding;
}

.uk-padding-xsmall-top {
    padding-top: $padding-xsmall-padding;
}

.uk-padding-medium-bottom {
    padding-bottom: $padding-medium-padding;
}

.uk-padding-medium-left {
    padding-left: $padding-medium-padding;
}

.uk-padding-medium-right {
    padding-right: $padding-medium-padding;
}

.uk-padding-medium-top {
    padding-top: $padding-medium-padding;
}

/* Large
 ========================================================================== */

.uk-padding-large {
    padding: $padding-large-padding;
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .uk-padding-large {
        padding: $padding-large-padding-l;
    }

}

/* Remove
 ========================================================================== */

.uk-padding-remove {
    padding: 0 !important;
}

.uk-padding-remove-top {
    padding-top: 0 !important;
}

.uk-padding-remove-bottom {
    padding-bottom: 0 !important;
}

.uk-padding-remove-left {
    padding-left: 0 !important;
}

.uk-padding-remove-right {
    padding-right: 0 !important;
}

.uk-padding-remove-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.uk-padding-remove-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-padding-misc)) {
    @include hook-padding-misc();
}

// @mixin hook-padding-misc(){}
