@import "../mixins";
@import "jquery-ui";
@import "catalog-filter";

.uk-input-number-counter-box {
    background-color: #f0f0f0;
    border-radius: 6px;
    .uk-button {
        line-height: 40px;
        background-color: transparent;
        font-weight: 400;
        font-size: 1.875em;
        color: #494949;
        &:disabled {
            color: rgba(73, 73, 73, .3);
        }
        &:hover {
            background-color: #eaeaea;
        }
    }
    .uk-input {
        width: 50px;
        height: 40px;
        line-height: 40px;
        font-weight: 300;
        font-size: 1.875em;
        color: #494949;
        padding: 0;
        &:focus {
            background-color: transparent;
            box-shadow: none;
        }
        &:not(.uk-line):not(.uk-form-blank):focus {
            background-color: transparent;
            box-shadow: none;
        }
    }
}